<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>TODO管理</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">TODO管理</a>
        </div>
    </div>
</div>

{% block main %}
    <p>main</p>
{% endblock %}

<script type="text/javascript" src="/assets/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/bootbox/bootbox.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
